/* styles.css */
.react-select-container {
  .react-select__control {
    background-color: white;
    border-color: #cbd5e0; /* $gray-400 */
    color: #4a5568; /* $gray-700 */
    transition: none;

    &:hover {
      border-color: #a0aec0; /* $gray-500 */
    }
  }

  .react-select__control--is-disabled {
    background-color: #edf2f7; /* $gray-200 */
  }

  .react-select__menu {
    background-color: #4a5568;
    border: 1px solid #cbd5e0; /* $gray-400 */
  }

  .react-select__option {
    background-color: #4a5568;
    color: #white; /* $gray-700 */

    &:hover {
      background-color: #f7fafc; /* $gray-100 */
    }
  }

  .react-select__indicator-separator {
    background-color: white;
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: #4a5568; /* $gray-700 */
  }
}
